@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

#root
  margin: 20px

.item
  margin: 10px
  border-bottom: 1px solid #ccc
  border-radius: 3px
  box-shadow: 0 2px 3px rgba(0,0,0,0.2)
  padding: 10px
  border: 1px solid #999
  a
    color: #ccc
  &.active a
    color: #090

.content
  margin-left: 20px
  white-space: pre-wrap
  display: none

.item
  .content
    display: block
    height: 200px
    overflow: scroll
